.rotating-image-background-images {
  width: 45vw;
  height: 45vh;
  justify-self: center;
}

.rotating-image-background-images img {
  display: block;
  margin: 0 auto;
  position: absolute;
  width: 45vw;
  height: 45vh;
  object-fit: cover;
  opacity: 1;
  transition: opacity 1s;
  border: 1px solid #228be6;
  border-radius: 2%;
}

.rotating-image-background-images img.rotating-image-background-image-faded {
  opacity: 0;
}
