body {
  font-family: "Open Sans", sans-serif;
  background-color: white;
}

.bienvenida {
  height: 90vh;
  background-image: url(../../assets/images/welcome-background.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: auto;
}

.bienvenida-text {
  font-size: 40px;
  text-align: center;
}

.bienvenida-nombre {
  color: #228be6;
}

.institucion,
.terapias,
.contacto {
  scroll-margin-top: 70px;
}

.institucion {
  width: 100%;
  padding-top: 20px;
  background-color: white;
  margin: auto;
}

.institucion-title {
  text-align: center;
  padding-bottom: 20px;
}

.institucion-info {
  text-align: justify;
  margin: auto;
}

.galeria-title {
  text-align: center;
  padding-bottom: 20px;
}

.terapias {
  width: 100%;
  padding-top: 20px;
  background-color: white;
  margin: auto;
}

.terapias-title {
  text-align: center;
  padding-bottom: 20px;
}

.terapias-accordion {
  width: 75vw;
  margin: auto;
}

.contacto {
  height: 90vh;
  width: 100%;
  padding-top: 20px;
  background-color: white;
  margin: auto;
}

.contacto-title {
  text-align: center;
  padding-bottom: 20px;
}

.contacto-form {
  margin: auto;
  height: 40vh;
  width: 40vw;
}

.contacto-ubicacion > iframe {
  border: 1px solid #228be6;
  border-radius: 2%;
  height: 40vh;
  width: 40vw;
}
